<div class="row">
    <div class="col-12 mb-2">
        {{placeDetail.description}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img [src]="placeDetail.photo_url" alt="Girl in a jacket" width="500" height="600">        
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul>
            <li style="list-style: none;">
                <h3>Must visit places:</h3>
            </li>
            <li *ngFor = "let thingToDo of placeDetail.thingToDo">
                {{thingToDo}}
            </li>
        </ul>
    </div>
</div>